/**
** 21 Days of Code : Assignment-2
** Responsive CSS File
** Written by Jobaieer
*/

/* Responsive for Mobile Devices */
@media only screen and (min-width: 200px) and (max-width: 575px) {
  .ss-margin {
    margin: 0 10px;
  }

  /* Header Container Start */
  /* Navbar Section Start */
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }

  .nav-logo {
    text-align: center;
  }
  .nav-menu {
    font-size: 20px;
  }
  /* Navbar End */

  /* Hero Section Start */
  .hero-wrapper {
    flex-direction: column;
  }

  .hero-left {
    width: 100%;
  }

  .h-left-m h1 {
    font-size: 55px;
  }

  .h-left-m br {
    display: none;
  }

  .hide-m-d {
    display: none;
  }

  .hero-right {
    width: 100%;
    padding: 0px 0px;
    margin-top: 100px;
  }

  .hero-cards {
    height: 500px;
  }
  /* Hero Section End */
  /* Header Container End */

  /*Main Container Start */
  /* Contact Section Start */
  .contact-flex {
    padding: 30px 20px;
  }

  .contact-card {
    gap: 10px;
    padding: 0px 5px;
    text-align: center;
    font-size: 10px;
  }
  /* Contact Section End */

  /* Product Section Start */
  .product-cards-gird {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  /* Product Section End */

  /* Services Section Start */
  .services-card-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    height: 100%;
  }

  .s-card-bg {
    width: 100%;
  }

  .services-card {
    height: 400px;
  }
  /* Services Section End */

  /* Testimonial Section Start*/
  .t-wrapper {
    flex-direction: column;
  }

  .t-left {
    width: 80%;
    padding: 50px 20px;
  }

  .t-right img {
    width: 100%;
  }

  .ar-logo-set {
    justify-content: space-between;
  }
  /* Testimonial Section End */

  /* Newsletter Section Start */
  #news-section {
    height: 100%;
  }

  .n-wrapper {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
  }

  .n-left {
    width: 100%;
  }

  .n-right {
    width: auto;
    gap: 30px;
    padding: 10px 20px;
  }

  .n-i-btn {
    width: auto;
  }
  /* Newsletter Section End */
  /*Main Container End */

  /* Footer Container Start */
  .footer-wrapper {
    gap: 15px;
  }

  .footer-left {
    width: 44%;
    gap: 50px;
  }

  .footer-left img {
    width: 75%;
  }

  .footer-text-b {
    gap: 50px;
  }

  .para-c-a {
    text-align: justify;
  }

  .footer-right {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-social {
    display: flex;
    gap: 5px;
  }

  .footer-social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 20px 0px;
  }
  /* Footer SContainer End */
}

/* Responsive for Tablet Devices */

@media (min-width: 768px) and (max-width: 1023px) {
  .ss-margin {
    margin: 0 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }

  .nav-logo {
    text-align: center;
  }
  .nav-menu {
    font-size: 20px;
  }

  .h-left-m h1 {
    font-size: 40px;
  }

  .h-left-m br {
    display: none;
  }

  .hide-m-d {
    display: none;
  }

  .h-left-d {
    gap: 0px;
  }

  .h-left {
    width: 40%;
  }

  .hero-left {
    width: 40%;
  }

  .hero-right {
    width: 50%;

    padding: 50px 0px;
  }

  .hero-wrapper {
    gap: 5%;
  }

  .hero-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 200px;
  }

  .btn-on {
    padding: 20px 20px;
    height: 65px;
    font-size: 16px;
  }

  .play-button h3 {
    font-size: 16px;
  }

  .play-button {
    width: 100px;
  }

  .product-card {
    width: 360px;
  }

  .product-card img {
    width: 360px;
  }

  .product-cards-gird {
    grid-template-columns: repeat(2, 1fr);
  }

  .sub-mail {
    width: 120px;
  }

  .n-right {
    width: 300px;
  }

  .n-i-btn {
    width: 250px;
  }

  .t-right {
    width: 50%;
  }

  .footer-left {
    width: 100%;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .footer-wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .footer-social {
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
